body{
    background-color: rgb(255, 255, 255);
    color: blanchedalmond;
}
header{
background-color: black;
text-align: left;
padding: 5px;
}header #b{
    width: 30%;       
    height: 20%;
    border-radius: 70%;
    padding: 5px;

}h2
{
    color: lightcoral;
}p{
    color: black;
}
h3{
    color: darkturquoise;
}
#project{
    color: black;
    background-color: #f1f1f1;
}
#contact{
padding: 2%;
 background-color: rgb(189, 180, 160);
 

}footer{
    background-color: darkgoldenrod;
    text-align: center;
    height: 40px;
    padding: 30px;
    
}#about{
    background-color: aquamarine;
    padding: 2%;
}#proj{
    background-color: #f1f1f1;
    padding: 2%;
}
#cont{

    background-color: rgb(189, 180, 160);
    color: blue;
}
