body{
    background-color: white;
    color: blanchedalmond;
}
header{
background-color: black;
text-align: left;
padding: 20px;
}header #b{
    width: 60%;       
    height: 50%;
    border-radius: 70%;

}

}