body{
    background-color: white;
    color: blanchedalmond;
}
header{
background-color: black;
text-align: left;
padding: 5px;
}header #b{
    width: 30%;       
    height: 20%;
    border-radius: 70%;

}h2
{
    color: lightcoral;
}p{
    color: black;
}
h3{
    color: darkturquoise;
}
#project{
    color: black;
}
#cont{
color: black;
}
